.imgParent {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center {
  justify-content: center;
  align-items: center;
}

//@todo
// .cover {
// }

//@todo
// .contain {
// }

.imgTag {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.imgPlaceholder {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
